.gallery {
  .tabs {
    display: flex;
    gap: 16px;
    .tab {
      padding: 8px 20px;
      border-radius: 50px;
      cursor: pointer;

      &.active,
      &:hover {
        background-color: $color_primary;
        color: white;
      }
    }
  }

  .img {
    margin: 10px 0;
    position: relative;
    cursor: pointer;
    .overlay {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.4);
      z-index: 1;
      @include flexCenter;
      transform: scaleY(0);
      transform-origin: bottom;
      .eye {
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        height: 40px;
        width: 40px;
        padding: 10px;
        border-radius: 50%;
        border: 1px solid white;
      }
    }

    &:hover {
      .overlay {
        transform: scaleY(1);
      }
    }
  }

  

  @include respond-below(sm) {
    .tabs {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 4px;

      .tab {
        width: 100%;
        text-align: center;
        padding: 4px 0;
      }
    }
  }
}
