.review {
  padding: 10px;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  gap: 10px;

  .left {
    > div {
      background-color: $color_primary;
      @include flexCenter;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      color: white;
      font-size: 20px;
    }
  }

  .right {
    .name {
      font-weight: 500;
    }

    .message {
      font-size: 14px;
      font-style: italic;
      margin: 10px 0;
    }

    .star {
      margin-right: 4px;
      font-size: 14px;
      color: $color_grey;

      &.active {
        color: rgb(219, 187, 5);
      }
    }
  }

  position: relative;
  .trash{
    font-size: 16px;
    position: absolute;
    right: 10px;
    cursor: pointer;
  }
}
