.social {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 2px;

  .item {
    padding: 1px 0 0 0;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    @include flexCenter;
    font-size: 20px;
    color: $color_grey;
    position: relative;

    &:hover {
      color: white;
      transform: scale(1.2);
    }

    // animation: scaleUp 1s infinite ease-in-out;
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(0);

  }
  
  50% {
    transform: scale(0.5);
  }
  
  100% {
    transform: scale(1);
  }
}
