.testimonial {
  text-align: center;
  padding: 40px;
  @include respond-above(md){
      padding: 40px 150px;

  }
  .text {
    margin-bottom: 24px;

    div {
      display: inline-block;
      color: $color_primary;
    //   font-size: 50px;
    //   border: 1px solid red;
    //   height: fit-content;
    transform: scale(2);
    margin: 0 10px;

    }
  }

  .name {
    color: $color_primary;
    font-weight: 500;
    font-size: 17px;
  }

  .location {
    font-size: 15px;
    // font-weight: 500;
    // border: 1px solid red;
  }
}
