.login {
  height: calc(100vh - 200px);
  @include flexCenter;

  form {
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 4px;

    p{
        text-align: center;
        color: $color_primary;
        font-size: 30px;
        font-weight: 500;
    }
  }
}
