.contactForm {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .head {
    font-size: 30px;
    font-weight: 600;

    span {
      color: $color_primary;
    }
  }

  input,
  textarea {
    padding: 6px 10px;
    border-radius: 5px;
    border: 1px solid $color_grey;
    outline: none;

    &:hover,
    &:active {
      border-color: $color_primary;
    }
  }

  .btn {
    @include flexCenter;
  }
}
