.contactForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 600px;
  margin: auto;
  border: 1px solid $color_primary;
  padding: 16px;
  border-radius: 10px;

  .successMsg{
    text-align: center;
    // color: $color_primary;
  }

  .head {
    font-size: 30px;
    font-weight: 600;

    span {
      color: $color_primary;
    }
  }

  input,
  textarea,
  select {
    padding: 6px 10px;
    border-radius: 5px;
    border: 1px solid $color_grey;
    outline: none;
    width: 100%;
    &:hover,
    &:active {
      border-color: $color_primary;
    }
  }

  .btn {
    @include flexCenter;
  }
}
