.contactDetails {
  padding: 20px;
  background-color: $color_primary;
  border-radius: 5px;
  //   color: white;
  @include respond-below(md) {
    margin-top: 20px;
  }

  .head {
    font-size: 20px;
    font-weight: 600;
  }

  .contactRow {
    display: flex;
    gap: 12px;
    margin: 24px 0;

    p {
      font-size: 16px;
    }

    .icon {
      font-size: 20px !important;
      margin-top: 3px;
      //   color: white;
    }
  }
}
