.footer {
  background-color: $color_black;
  color: $color_grey;
  padding: 40px 0 0 0;
  @include respond-below(md) {
    padding: 0;
  }
  p {
    font-size: 14px;
  }

  h4 {
    color: white;
    font-weight: 100;
    font-size: 17px;
  }

  .row {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 10px;
    &:hover {
      * {
        color: $color_primary;
      }
    }
    .chevron {
      font-size: 11px;
    }
    a {
      color: $color_grey;
    }
  }

  .contactRow {
    display: flex;
    gap: 12px;
    margin: 24px 0;

    p{
        font-size: 16px;
    }

    .icon {
      font-size: 20px !important;
      color: $color_primary;
      margin-top: 5px;
    }
  }
.bottom{
   width: 90%;
   background-color: $color_black;
   margin: auto;
   padding: 20px;

   p{
    background-color: rgba(0, 0, 0, 0.615);
    text-align: center;
    padding: 20px 0;
    color: white;
   }

   
}
  
}

.section {
  margin: 0;
  @include respond-below(md) {
    margin-top: 50px;
  }
}
